.git
.vscode
node_modules
.npm
reports
coverage
.venv
**/__pycache__
.env
.env.*
**/*.onnx
**/*.tflite
**/*.engine
**/*.hef
**/*.har
**/*.whl
**/*.deb
.runner
.credentials*
_diag
_work
dist
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/*.egg-info
**/.coverage
**/test-results
**/playwright-report
